body
{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	padding:20px;
	font-size: 25px;

}
.big
{
	font-size: 200px;
}
.foot
{
	display: inline-block;
}

.container
 {
  position: relative;
  width: 100%;
  padding:25px;
  background-image: url("bkg.jpg");
  background-size: cover;
  max-width: 100%;
  max-height: auto;
}
.overlay
 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay
 {
  width: 100%;
}

.text
 {
  white-space: nowrap; 
  color: white;
  font-size: 50px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: lightblue;
  overflow-x: hidden;
  padding-top: 20px;
}
.main
 {
  margin-left: 220px; 
  font-size: 28px;
  padding: 0px 10px;
  margin-top:20px;
}
.coursecontainer
{
  display:wrap;
  flex-wrap:wrap;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img
{
  height:250px;
  width:350px;
  margin:10px;
}
